

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
  "header"
  "body"
  "footer";
  min-height: 100dvh;
}

.header {
  grid-area: header;
}

.body {
  background-color: transparent;
  grid-area: body;
}

.footer {
  grid-area: footer;
}

.main {
  display: grid;
  align-content: center;
  justify-content: center;
  text-align: center;
  gap: 30px;
  letter-spacing: 0.1em;
  min-height: 100%;
  text-shadow: 3px 3px 14px var(--black);
}

.title {
  font-size: 46px;
  font-weight: 300;
  text-transform: capitalize;
  margin: 0;
}

.btn {
  padding: 10px 30px;
  font-size: 24px;
  font-weight: 300;
  border: none;
  border-radius: 10px;
  background: none;

  cursor: pointer;
  box-shadow: 7px 7px 20px var(--black);
  transition: 0.3s ease;
}

.btn:hover {
  background: var(--black);
  color: var(--white);
}

@media (max-width: 600px) {
  .title {
    font-size: 24px;
  }
}