.form {
  background: var(--black);
  border-radius: 15px;
  padding: 20px;
  letter-spacing: 0.1em;
  box-shadow: 9px 7px 20px var(--black);
  display: grid;
  grid-template-columns: 40px 1fr auto;
  gap: 20px;
  width: 80%;
  grid-template-areas:
  "formTitle formTitle formTitle"
  "title title title"
  "inputGroup inputGroup inputGroup"
  "private private btn";
}

.formTitle {
  grid-area: formTitle;
  justify-self: center;
  font-size: 18px;
  background: var(--background-text);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}



.title {
  grid-area: title;
  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.title:is(:focus, :valid) {
  border-bottom: 1px solid var(--primary);
}

.btn {
  grid-area: btn;
}


.checkPrivate {
  grid-area: private;
  display: grid;
  gap: 10px;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.checkbox {
  color: var(--primary);
  font-size: 12px;
}

.input[type="radio"] {
  display: none;
}
.inputGroup {
  grid-area: inputGroup;
  justify-self: start;
  display: grid;
  grid-template-columns: 1fr;
}

.titleCategory {
  font-size: 12px;
  background: var(--background-text);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.customRadio {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
}

.customRadio svg {
  width: 100%;
  height: 100%;
  fill: #858d94;
  display: block;
  border-radius: 50%;
}

.input[type="radio"]:checked + .customRadio svg {
  fill: var(--primary);
}



